# Data Cleaning for the Build-A-Model Datasets

## Importing libraries and data:

In [14]:
import pandas as pd

In [16]:
ccao_train = pd.read_csv('../raw_data/ccao_train.csv').drop(['Unnamed: 0'], axis=1)
ccao_test = pd.read_csv('../raw_data/ccao_test.csv').drop('Unnamed: 0', axis=1)
print('First 3 rows of training data:')
display(ccao_train.head(3))
print('First 3 rows of test data:')
ccao_test.head(3)

First 3 rows of training data:

,PIN,Property Class,Neighborhood Code,Land Square Feet,Town Code,Apartments,Wall Material,Roof Material,Basement,Basement Finish,...,Sale Month of Year,Sale Half of Year,Most Recent Sale,Age Decade,Pure Market Filter,Garage Indicator,Neigborhood Code (mapping),Town and Neighborhood,Description,Lot Size
0,17294100610000,203,50,2500.0,76,0.0,2.0,1.0,1.0,3.0,...,9,2,1.0,13.2,0,0.0,50,7650,"This property, sold on 09/14/2015, is a one-st...",2500.0
1,13272240180000,202,120,3780.0,71,0.0,2.0,1.0,1.0,1.0,...,5,1,1.0,9.6,1,1.0,120,71120,"This property, sold on 05/23/2018, is a one-st...",3780.0
2,25221150230000,202,210,4375.0,70,0.0,2.0,1.0,2.0,3.0,...,2,1,0.0,11.2,1,1.0,210,70210,"This property, sold on 02/18/2016, is a one-st...",4375.0

First 3 rows of test data:

,PIN,Property Class,Neighborhood Code,Land Square Feet,Town Code,Apartments,Wall Material,Roof Material,Basement,Basement Finish,...,Sale Month of Year,Sale Half of Year,Most Recent Sale,Age Decade,Pure Market Filter,Garage Indicator,Neigborhood Code (mapping),Town and Neighborhood,Description,Lot Size
0,4252000820000,204,100,33898.0,25,0.0,2.0,4.0,1.0,3.0,...,9,2,1.0,6.1,1,1.0,100,25100,"This property, sold on 09/29/2014, is a one-st...",33898.0
1,1191010060000,204,21,220766.0,10,0.0,2.0,4.0,3.0,1.0,...,7,2,1.0,2.5,0,1.0,21,1021,"This property, sold on 07/16/2019, is a one-st...",220766.0
2,16202230160000,203,30,3780.0,15,0.0,2.0,2.0,1.0,3.0,...,9,2,1.0,9.9,1,1.0,30,1530,"This property, sold on 09/06/2017, is a one-st...",3780.0

## Data Cleaning

For the purposes for keeping the Model Builder simple, the data will be sampled to only contain 500 rows for each train and test dataset, while also removing many irrelevant features. Each feature is described in the `codebook.txt` file found along with the raw data, which will be used as a guide for which features to remove.

In [17]:
# Removing unwanted features
removed_features = ['PIN',
                    'Property Class',
                    'Neighborhood Code',
                    'Town Code',
                    'Design Plan',
                    'Construction Quality',
                    'Site Desirability',
                    'Other Improvements',
                    'Multi Code',
                    'Number of Commercial Units',
                    'Deed No.',
                    'Longitude',
                    'Latitude',
                    'Census Tract',
                    'Modeling Group',
                    'Age',
                    'Sale Year',
                    'Sale Quarter',
                    'Sale Half-Year',
                    'Sale Quarter of Year',
                    'Sale Month of Year',
                    'Sale Half of Year',
                    'Most Recent Sale',
                    'Neigborhood Code (mapping)',
                    'Town and Neighborhood']
ccao_train = ccao_train.drop(removed_features, axis=1)
ccao_test = ccao_test.drop(removed_features, axis=1)
print('First 3 rows of training data after dropping features:')
display(ccao_train.head(3))
print('First 3 rows of test data after dropping features:')
ccao_test.head(3)

First 3 rows of training data after dropping features:

,Land Square Feet,Apartments,Wall Material,Roof Material,Basement,Basement Finish,Central Heating,Other Heating,Central Air,Fireplaces,...,Multi Property Indicator,Use,O'Hare Noise,Floodplain,Road Proximity,Age Decade,Pure Market Filter,Garage Indicator,Description,Lot Size
0,2500.0,0.0,2.0,1.0,1.0,3.0,1.0,5.0,0.0,0.0,...,0,1,0.0,0.0,0.0,13.2,0,0.0,"This property, sold on 09/14/2015, is a one-st...",2500.0
1,3780.0,0.0,2.0,1.0,1.0,1.0,2.0,5.0,0.0,1.0,...,0,1,0.0,0.0,0.0,9.6,1,1.0,"This property, sold on 05/23/2018, is a one-st...",3780.0
2,4375.0,0.0,2.0,1.0,2.0,3.0,1.0,5.0,0.0,0.0,...,0,1,0.0,0.0,0.0,11.2,1,1.0,"This property, sold on 02/18/2016, is a one-st...",4375.0

First 3 rows of test data after dropping features:

,Land Square Feet,Apartments,Wall Material,Roof Material,Basement,Basement Finish,Central Heating,Other Heating,Central Air,Fireplaces,...,Multi Property Indicator,Use,O'Hare Noise,Floodplain,Road Proximity,Age Decade,Pure Market Filter,Garage Indicator,Description,Lot Size
0,33898.0,0.0,2.0,4.0,1.0,3.0,1.0,5.0,1.0,2.0,...,0,1,0.0,0.0,1.0,6.1,1,1.0,"This property, sold on 09/29/2014, is a one-st...",33898.0
1,220766.0,0.0,2.0,4.0,3.0,1.0,1.0,5.0,1.0,2.0,...,0,1,0.0,0.0,1.0,2.5,0,1.0,"This property, sold on 07/16/2019, is a one-st...",220766.0
2,3780.0,0.0,2.0,2.0,1.0,3.0,1.0,5.0,1.0,0.0,...,0,1,0.0,0.0,0.0,9.9,1,1.0,"This property, sold on 09/06/2017, is a one-st...",3780.0

Many of the dropped features were deemed to have no face analytical value, such as 'PIN' or 'Deed No.'. Features like 'Construction Quality' and 'Site Desirability' were dropped due to the `codebook.txt` claiming them to have no value for modeling as well. Other features were dropped due to their ineffectiveness in an Ordinary Least Squares (OLS) linear regression model, which is what will be used in the final application.

Additionally, the 'Description' column will be edited in order to extract the number of bathrooms and bedrooms per property.

In [18]:
# Extracting number of bathrooms and bedrooms from the 'Description' column
for dataset in [ccao_train, ccao_test]:
    dataset['Bathrooms'] = dataset['Description'].str.extract(r', (\d*) of which are bedrooms').astype('int')
    dataset['Bedrooms'] = dataset['Description'].str.extract(r'(\d*.\d) of which are bathrooms').astype('float')
    dataset.drop(columns=['Description'], inplace=True)
print('First 3 rows of train data after extraction:')
display(ccao_train.head(3))
print('First 3 rows of test data after extraction:')
ccao_test.head(3)

First 3 rows of train data after extraction:

,Land Square Feet,Apartments,Wall Material,Roof Material,Basement,Basement Finish,Central Heating,Other Heating,Central Air,Fireplaces,...,Use,O'Hare Noise,Floodplain,Road Proximity,Age Decade,Pure Market Filter,Garage Indicator,Lot Size,Bathrooms,Bedrooms
0,2500.0,0.0,2.0,1.0,1.0,3.0,1.0,5.0,0.0,0.0,...,1,0.0,0.0,0.0,13.2,0,0.0,2500.0,3,1.0
1,3780.0,0.0,2.0,1.0,1.0,1.0,2.0,5.0,0.0,1.0,...,1,0.0,0.0,0.0,9.6,1,1.0,3780.0,3,1.0
2,4375.0,0.0,2.0,1.0,2.0,3.0,1.0,5.0,0.0,0.0,...,1,0.0,0.0,0.0,11.2,1,1.0,4375.0,3,1.0

First 3 rows of test data after extraction:

,Land Square Feet,Apartments,Wall Material,Roof Material,Basement,Basement Finish,Central Heating,Other Heating,Central Air,Fireplaces,...,Use,O'Hare Noise,Floodplain,Road Proximity,Age Decade,Pure Market Filter,Garage Indicator,Lot Size,Bathrooms,Bedrooms
0,33898.0,0.0,2.0,4.0,1.0,3.0,1.0,5.0,1.0,2.0,...,1,0.0,0.0,1.0,6.1,1,1.0,33898.0,4,3.5
1,220766.0,0.0,2.0,4.0,3.0,1.0,1.0,5.0,1.0,2.0,...,1,0.0,0.0,1.0,2.5,0,1.0,220766.0,5,4.5
2,3780.0,0.0,2.0,2.0,1.0,3.0,1.0,5.0,1.0,0.0,...,1,0.0,0.0,0.0,9.9,1,1.0,3780.0,2,1.0

# Data Sampling and Exporting

In [19]:
ccao_train_processed = ccao_train.sample(n=500, random_state=42)
ccao_test_processed = ccao_test.sample(n=500, random_state=42)
print(f'Shape of train data before sampling: {ccao_train.shape}')
print(f'Shape of train data after sampling: {ccao_train_processed.shape}')

Shape of train data before sampling: (204792, 38)
Shape of train data after sampling: (500, 38)

In [20]:
ccao_train_processed.to_csv('../processed_data/ccao_train_cleaned.csv')
ccao_test_processed.to_csv('../processed_data/ccao_test_cleaned.csv')